.bag-drop-down {
	position: absolute;
	width: 240px;
	height: 340px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	top: 60px;
	right: 80px;
	z-index: 5;

	.bag-items {
		height: 240px;
		display: flex;
		flex-direction: column;
		overflow: scroll;

		.empty-msg {
			color: red;
			margin: auto;
			font-size: 1.3rem;
		}
	}

	.custom-btn {
		margin-top: auto;
		background-color: #28a745;

		&:hover {
			background-color: white;
			color: #28a745;
			border: 1px solid #28a745;
		}
	}
}
